{%extends 'base.html'%}
{%block 'content'%}
 <center>
     <br>
     <h1>DIVIDE PAGE</h1>
     <br>
     {%if my_answer%}
     <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
      <strong><h3>{{my_answer}}</h3></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
     {%endif%}
    <br>
     <h2>{{ num1 }} / {{ num2 }}</h2>
     <br>
    <form action="{%url 'divide'%}" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Type Your Answer Here" name="answer">
            <input type="hidden" name="old_num1" value="{{num1}}">
            <input type="hidden" name="old_num2" value="{{num2}}">
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">
            Submit
        </button>
    </form>
</center>
{%endblock%}